extends layout

block content
  div(style="background-image: url(/images/athens.jpg)" class="city__img")
    if city.country === 'Malta'
      div.city__image-content
         h1.city__malta-heading= city.country
    else
      div.city__image-content
         h3= city.country
         h1= city.name
  div.text-block
   p.city__desc= city.desc

  div.job__wrapper.job__wrapper--country-page
    each job in jobs
      if job.countryName == city.country
        div.job__item.job__item--country-page
          a(href="/find-job/#{encodeURI(job.name.replace(/å/g, 'a').replace(/Å/g, 'A').replace(/ä/g, 'a').replace(/Ä/g, 'A').replace(/ö/g, 'o').replace(/Ö/g, 'O')).toLowerCase().replace(/%20/g, '_')}")
            h2= job.name
            p= job.shortDesc
            p(class="job__location job__location--country")= job.cityName + ' -'
            p(class="job__location")= job.countryName
            span.job__arrow &rarr;
