extends layout

block content
  h1= title
  div.text-block
    p Scandinavian Language Jobs is helping Scandinavian talents to find career opportunities abroad. We have ourselves made the move from Sweden abroad to work and therefore we know it might seem a bit scary, but trust us- it’s worth it!As the same time as we see ourselves as an advisor to Scandinavians who are considering a new job abroad, we see ourselves as a business partner to employers who seek collaboration with a company which knows the Scandinavian candidate market but also understand 

  h2.city-promo__heading Var vill du jobba?
  div.city-promo__wrapper
    each city in cities
      div(style="background-image: url(#{city.thumb}" class="city-promo__item")
        a(href="/cities/#{city.slug}")
          h3= city.name
          p.city-promo__country= city.country

  h2.job__heading Våra jobb
  div.job__wrapper  
    each job in promotedWork
        div.job__item
          a(href="/find-job/#{encodeURI(job.name.replace(/å/g, 'a').replace(/Å/g, 'A').replace(/ä/g, 'a').replace(/Ä/g, 'A').replace(/ö/g, 'o').replace(/Ö/g, 'O')).toLowerCase().replace(/%20/g, '_')}")
            h3= job.name
            p= job.shortDesc
            p(class="job__location job__location--country")= job.cityName + ' -'
            p(class="job__location")= job.countryName
              
    div.job__item.job__item--promoted
      a(href="/find-jobs#job__wrapper")
        h3 Visa alla