extends layout

block content
  h1= title
  div.text-block
    p Scandinavian Language Jobs hjälper Skandinaver att hitta karriärmöjligheter utomlands. Våra kunder är allt från mindre nystartade bolag till större, etablerade företag, med kontor över hela Europa. De har alla en sak gemensamt- de söker dig som talar Svenska, Norska eller Danska. 
    p Hoppas på äventyret som det är att jobba utomlands!
    p Har du några frågor tveka inte att höra av dig till oss på 
      a(href="mailto:info@scandinavianlanguagejobs.com") info@scandinavianlanguagejobs.com

  h2.city-promo__heading Var vill du jobba?
  div.city-promo__wrapper
    each city in cities
      div(style="background-image: url(#{city.thumb}" class="city-promo__item")
        a(href="/cities/#{city.slug}")
         if city.country === 'Malta'
            h3= city.country
         else
            h3= city.name
            p.city-promo__country= city.country

  h2.job__heading Våra jobb
  div.job__wrapper  
    each job in promotedWork
        div.job__item
          a(href="/find-job/#{encodeURI(job.name.replace(/å/g, 'a').replace(/Å/g, 'A').replace(/ä/g, 'a').replace(/Ä/g, 'A').replace(/ö/g, 'o').replace(/Ö/g, 'O')).toLowerCase().replace(/%20/g, '_')}")
            h3= job.name
            p= job.shortDesc
            p(class="job__location job__location--country")= job.cityName + ' -'
            p(class="job__location")= job.countryName
              
    div.job__item.job__item--promoted
      a(href="/find-jobs#job__wrapper")
        h3 Visa alla