extends layout

block content
   div(style="background-image: url(#{job.image}" class="job-desc__img")
      h1= title
   .text-block
      
      if(job.html)
         !{job.html}

   form(action="sendWithFile", 
      method="post",
      enctype="multipart/form-data"
      class="form form--desktop")
      input(type="text" name="subject" style="display:none" value="jobsearch #{title}")
      div.form__input
         label(for="name") Namn *
         input(type="text", name="name", required placeholder="Namn")
      div.form__input
         label(for="email") Email *
         input(type="email", name="email", required placeholder="Email")
      div.form__input
         label(for="phone") Telefonnummer
         input(type="tel", name="phone" required placeholder="Telefonnummer")
      div.form__input--text-area
         label(for="textarea") Lägg på ett meddelande
         textarea(name="textarea", cols="30", rows="10" placeholder="Meddelande")
      div
         input(type="checkbox" required)
         span
            |  Jag har läst och accepterar 
            span.gdpr__span GDPR
      div.form__input
         label(for="cv") Lägg till CV
         input(name="cv",
            type="file",
            required)
      
      div.form__input      
         label(for="cv") Lägg till personligt brev
         input(name="pb",
            type="file",
            required)
      button(type="submit") Skicka

   form(action="sendWithoutFile", 
      method="post"
      class="form form--mobile")
      input(type="text" name="subject" style="display:none" value="jobsearch #{title} utan attachment")
      div.form__input
         label(for="name") Namn *
         input(type="text", name="name", required placeholder="Namn")
      div.form__input
         label(for="email") Email *
         input(type="email", name="email", required placeholder="Email")
      div.form__input
         label(for="phone") Telefonnummer
         input(type="tel", name="phone" required placeholder="Telefonnummer")
      div.form__input--text-area
         label(for="textarea") Lägg på ett meddelande
         textarea(name="textarea", cols="30", rows="10" placeholder="Meddelande")
      div
         input(type="checkbox" required)
         span
            |  Jag har läst och accepterar 
            span.gdpr__span GDPR
      button(type="submit") Skicka

   .gdpr__module
      button &times;
      h3 Random GDRP info
      p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea alias molestiae molestias consectetur provident obcaecati, earum, possimus blanditiis debitis sequi ab. Explicabo at corporis, consequuntur culpa nisi similique pariatur vero.
      


