extends layout

block content
   div(style="background-image: url(#{job.image}" class="job-desc__img" title="#{job.imgAlt}")
      h1= title
   .text-block
      
      if(job.html)
         | !{job.html}

   form(action="sendWithFile", 
      method="post",
      enctype="multipart/form-data"
      class="form form--desktop")
      input(type="text" name="subject" style="display:none" value="jobsearch #{title}")
      div.form__input
         label(for="name") Namn *
         input(type="text", name="name", required placeholder="Namn")
      div.form__input
         label(for="email") Email *
         input(type="email", name="email", required placeholder="Email")
      div.form__input
         label(for="phone") Telefonnummer
         input(type="tel", name="phone" required placeholder="Telefonnummer")
      div.form__input--text-area
         label(for="textarea") Lägg på ett meddelande
         textarea(name="textarea", cols="30", rows="10" placeholder="Meddelande")
      div.form__checkbox-wrapper
         input(type="checkbox" required)
         span.gdpr__span  Jag har tagit del av 
         span och samtycker till hur mina personuppgifter är hanterade och lagrade

      div.form__input
         label(for="cv") Lägg till CV
         input(name="cv",
            type="file")
      
      div.form__input      
         label(for="cv") Lägg till personligt brev
         input(name="pb",
            type="file")
      button(type="submit") Skicka

   form(action="sendWithoutFile", 
      method="post"
      class="form form--mobile")
      input(type="text" name="subject" style="display:none" value="jobsearch #{title} utan attachment")
      div.form__input
         label(for="name") Namn *
         input(type="text", name="name", required placeholder="Namn")
      div.form__input
         label(for="email") Email *
         input(type="email", name="email", required placeholder="Email")
      div.form__input
         label(for="phone") Telefonnummer
         input(type="tel", name="phone" required placeholder="Telefonnummer")
      div.form__input--text-area
         label(for="textarea") Lägg på ett meddelande
         textarea(name="textarea", cols="30", rows="10" placeholder="Meddelande")
      div.form__checkbox-wrapper
         input(type="checkbox" required)
         
         span.gdpr__span  Jag har tagit del av 
         span och samtycker till hur mina personuppgifter är hanterade och lagrade
            
      button(type="submit") Skicka

   .gdpr__module
      button &times;
      p Scandinavian Language Jobs drivs av JW Recruitment AB vilket är ett rekryteringsbolag som rekryterar personal till externa tjänster hos våra kunder. För att du som arbetssökande skall kunna matchas mot en utannonserad tjänst, behöver du delge vissa personuppgifter som sparas i vår interna databas. Denna integritetspolicy förklarar hur vi använder den personliga information vi inhämtar från dig när du använder dig av vår hemsida och konsumerar Scandinavian Language Jobs tjänster.
      h3 Vilken information samlar vi om dig?
      p När du skickar in en ansökan till Scandinavian Language Jobs lagras denna information i en intern databas. Anteckningar från intervjutillfällen hos Scandinavian Language Jobs eller hos kund för aktuellt rekryteringsuppdrag, läggs in i vår databas och är att ses som komplement till tidigare lämnade uppgifter. Övrig information som för Safemind AB kan bli aktuell att samla in i och med en rekrytering, är personlighetstester, referenser och andra former av intyg om det är något den externa kunden efterfrågar i fråga om anställning. Detta kan anses vila på laglig grund av att upprätthålla del av avtal. 
      h3 Hur kommer information om dig att användas?
      p Den information som finns sparad om dig i vår interna databas kommer att användas i syfte att underhålla våra rekryteringsuppdrag. Denna information kommer kunna delas och göras tillgänglig för kund inom aktuellt rekryteringsuppdrag, vilket i sammanhanget betraktas som utlämnande av information till tredje part. Detta anses i situationen vara en intresseavvägning samt för att upprätthålla del av avtal som laglig grund för hanteringen av personuppgifter enligt artikel 6 GDPR.
      h3 Framtida rekrytering
      p Genom att skicka in en ansökan och därmed lämna ett aktivt samtycke, godkänner du även för att din profil kan komma att matchas mot framtida uppdrag som Scandinavian Language Jobs anser kunna passa din profil. Om du önskar avsäga dig från möjligheten att matchas mot framtida rekryteringsuppdrag, vänligen kontakta oss gällande detta. Information om kontaktuppgifter följer nedan.
      h3 Tillgång till din information och korrigering
      p Vi vill säkerställa att den information vi har om dig är korrekt och uppdaterad. Kontakta oss gärna för att korrigera information som du anser vara inkorrekt, eller för att få informationen raderad. Du behåller därför rätten att när som helst avsäga ditt samtycke samt även rätt att begära en kopia om den information vi har om dig.
      h3 Upprätthållandet av Scandinavian Language Jobs integritetspolicy
      p Vi ser årligen över vår integritetspolicy och denna version var senast uppdaterad den 2018-05-28.
      h4 Hur du kommer i kontakt med oss
      p Kontakta gärna oss om du har ytterligare frågor om hur vi upprätthåller vår hantering av personuppgifter eller den information vi har om dig: 
      a(href="mailto:info@scandinavianlanguagejobs.com") info@scandinavianlanguagejobs.com
      


