extends layout

block content
   .text-block
      h1= title
      p Welcome to #{title}

      h2= job.name

   form(action="sendWithFile", 
      method="post",
      enctype="multipart/form-data"
      class="form form--desktop")
      input(type="text" name="subject" style="display:none" value="jobsearch #{title}")
      div.form__input
         label(for="name") Namn *
         input(type="text", name="name", required placeholder="Namn")
      div.form__input
         label(for="email") Email *
         input(type="email", name="email", required placeholder="Email")
      div.form__input
         label(for="phone") Telefonnummer
         input(type="tel", name="phone" required placeholder="Telefonnummer")
      div.form__input--text-area
         label(for="textarea") Lägg på ett meddelande
         textarea(name="textarea", cols="30", rows="10" placeholder="Meddelande")
      div.form__input
         label(for="cv") Lägg till ditt CV
         input(name="cv",
            type="file",
            required)
      div.form__input      
         label(for="cv") Lägg till ditt personliga brev
         input(name="pb",
            type="file",
            required)
      button(type="submit") Skicka

   form(action="sendWithoutFile", 
      method="post"
      class="form form--mobile")
      input(type="text" name="subject" style="display:none" value="jobsearch #{title} utan attachment")
      div.form__input
         label(for="name") Namn *
         input(type="text", name="name", required placeholder="Namn")
      div.form__input
         label(for="email") Email *
         input(type="email", name="email", required placeholder="Email")
      div.form__input
         label(for="phone") Telefonnummer
         input(type="tel", name="phone" required placeholder="Telefonnummer")
      div.form__input--text-area
         label(for="textarea") Lägg på ett meddelande
         textarea(name="textarea", cols="30", rows="10" placeholder="Meddelande")
      button(type="submit") Skicka
      


