extends layout

block content
   h1= title
   div.text-block
      p Är du intresserad av att bredda din kunskap och få internationell erfarenhet? Vi på Scandinavian Language Jobs samarbetar med utländska företag som har behov av att anställa folk från Skandinavien. Vi har olika alternativ för dig, oavsett om du letar efter en storstad eller strandliv. Samtliga jobb vi annonserar erbjuder dig möjligheten att arbeta med ditt modersmål samtidigt som du kommer få ny värdefull erfarenhet, kollegor från hela Europa samt uppleva en ny kultur. 

      h2 Hur det fungerar?
      p Vi på Scandinavian Language Jobs talar svenska, och när du söker ett jobb kommer en första kontakt vara med vår personal. Du har då chansen att lära dig mer om jobbet och företaget du har sökt till. 
  
   div.job__wrapper#job__wrapper
      each job in jobs
         div.job__item
            a(href="/find-job/#{encodeURI(job.name.replace(/å/g, 'a').replace(/Å/g, 'A').replace(/ä/g, 'a').replace(/Ä/g, 'A').replace(/ö/g, 'o').replace(/Ö/g, 'O')).toLowerCase().replace(/%20/g, '_')}")
               h2= job.name
               p= job.shortDesc
               p(class="job__location job__location--country")= job.cityName + ' -'
               p(class="job__location")= job.countryName
               span.job__arrow &rarr;


