doctype html
html
  head
    title= titleSeo
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name="viewport" content="width=device-width")
    meta(name="google-site-verification" content="TEgPOPutOQxaSzyihbNFlnBeGK70LzN4fJ1f1-sHhZY")
    link(rel="icon" type="image/png" href="/images/favicon-16.png" sizes="16x16")
    link(rel="icon" type="image/png" href="/images/favicon-96.png" sizes="96x96")
    link(rel="icon" type="image/png" href="/images/favicon-192.png" sizes="192x192")
    link(rel="icon" type="image/png" href="/images/favicon-32.png" sizes="32x32")
    
  body
      block messages
         if locals.flashes
            .flash-messages
               - const categories = Object.keys(locals.flashes)
               each category in categories
                  each message in flashes[category]
                     .flash(class=`flash--${category}`)
                        p.flash__text!= message
                        button.flash__remove(onClick="this.parentElement.remove()") &times;
    div.main-wrapper
      div.toggle-menu
        span.toggle-menu__icon
      block header
        div.header
          img(src="/images/logo.png", alt="Scandinavian Language Jobs Logo")
        
          nav
            each item in h.menu
              a(href="#{item.slug}")=item.title

          nav.cities
            each city in h.cities
              a(href="#{city.slug}")=city.title
      div.wrapper
        block content
    
    script(src="/javascripts/index.js")
    
